{% include "root_header_begin.html" %}
{% include "tv/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "tv/sidebar_start.html" %}
{% include "tv/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b>Invalid Folders</b></h5>
    </header>
    <div class="w3-container">
        <div class="w3-full">
            <!-- http://divtable.com/generator/ -->
        {% include "pagination.html" %}
                <table border="1">
                    <tbody>
                        <tr>
                            {% for invalid_filefolder_key in invalid_filefolder_keys %}
                                <td>{{ invalid_filefolder_key }}</td>
                            {% endfor %}
                        </tr>
                        {% for invalid_filefolder_dict in invalid_filefolder_list %}
                        <tr>
                            {% for invalid_filefolder_key in invalid_filefolder_keys %}
                                {% if invalid_filefolder_key in invalid_filefolder_dict %}
                                    {% if invalid_filefolder_key == 'source' %}
                                        <td width="50px">
                                    {% elif invalid_filefolder_key == 'last_ocurrance' %}
                                            <td width="110px">
                                    {% elif invalid_filefolder_key == 'added' %}
                                            <td width="110px">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                    {{ invalid_filefolder_dict[invalid_filefolder_key] }}
                                    </td>
                                {% else %}
                                    <td>misssing data {{ invalid_filefolder_key }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        <br>
        {% include "pagination.html" %}
        </div>
    </div><br>

{% include "root_footer.html" %}