{% include "root_header_begin.html" %}
{% include "film_collection/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "film_collection/sidebar_start.html" %}
{% include "film_collection/sidebar_selected.html" %}
{% include "film_collection/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b>{{ film_collection_title }} - Overview</b></h5>
  </header>
  <div class="w3-container">
          <div class="w3-full">
              {% if film_collection_overview_list is not none %}
                  {% set checked = false %}
                  <form id="overview_radio_form">
                  {% for zp_eapi_id, zp_eapi_dict in film_collection_overview_list.items() %}
                      {% for overview in zp_eapi_dict.overviews %}
                        {% if overview.zp_film_collection_overview_id == user_film_collection_overview_id %}
                            {% set checked = true %}
                        {% endif %}
                            <input id="{{ overview.id_inc }}_radio" type="radio" name="zp_film_collection_overview_id" value="{{ overview.id_inc }}_{{ overview.zp_film_collection_overview_id }}_{{ overview.zp_lang_id }}_{{ overview.main_default }}_{{ overview.lang_default }}_{{ overview.zp_user_id }}"
                            {{ 'checked' if checked == true }}>
                      {% if zp_eapi_id > 0 %}
                        EAPI: {{ eapi_name_dict[zp_eapi_id] }}, Lang: {{ lang_name_dict[overview.zp_lang_id] }} (All users can see this)
                      {% elif overview.zp_user_id > 0 and overview.zp_user_id == current_user.id|int %}
                        Your Custom Overview (All users can see this)
                      {% elif overview.zp_user_id > 0 and overview.zp_user_id != current_user.id|int %}
                        Other Users Custom Overview (All users can see this)
                      {% elif overview.lang_default == 1 %}
                        Your Language Default (Only people with the same language setting as you can see this)
                      {% elif overview.main_default == 1 %}
                        Main Default (All users can see this)
                      {% else %}
                        This message should not be seen please report this as an issue
                      {% endif %}
                      <div id="{{ overview.id_inc }}_{{ overview.zp_film_collection_overview_id }}_{{ overview.zp_lang_id }}_{{ overview.main_default }}_{{ overview.lang_default }}_{{ overview.zp_user_id }}"
                           contentEditable="true" placeholder="Last name"
                           class="div_overview" style="background-color: white;padding: 15px;">{{ overview.overview }}</div><br>
                        {% set checked = false %}
                      {% endfor %}
                  {% endfor %}
                  </form>
                  <br>
                  <button id="overview_apply" type="button">Apply</button>
                  <form action="" method="post" id="overview_form" enctype="multipart/form-data">
                      <input id="zp_overview_ident" type="hidden" name="zp_overview_ident" value="">
                      <input id="zp_overview_overview" type="hidden" name="zp_overview_overview" value="">
                  </form>
              {% else %}
                  <p>There is no overview</p>
              {% endif %}
          </div>
  </div>
  <br/>

{% include "root_footer.html" %}