
    <a href="/tv" class="w3-bar-item w3-button w3-padding w3-green"><i class="fa fa-tv fa-fw"></i>  TV</a>
    <a href="/process" class="w3-bar-item w3-button w3-padding w3-green"><i class="fa fa-tv fa-fw"></i>  Process</a>
    <a href="/settings" class="w3-bar-item w3-button w3-padding w3-orange"><i class="fa fa-tv fa-fw"></i>  Settings</a>
      <a href="/template" class="w3-bar-item w3-button w3-padding w3-blue-grey"><i class="fa fa-tv fa-fw"></i>  Template</a>
    <a href="/report" class="w3-bar-item w3-button w3-padding w3-deep-orange"><i class="fa fa-tv fa-fw"></i>  Report</a>
    <a href="https://github.com/3lixy/Zerrphix" class="w3-bar-item w3-button w3-padding w3-teal"><i class="fa fa-tv fa-fw"></i>  Zerrphix</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>