    <a href="/film_collection/{{ zp_film_collection_id }}/summary" class="w3-bar-item w3-button w3-padding w3-khaki">
        <i class="fa fa-list-alt fa-fw"></i>  Summary</a>
    <a href="/film_collection/{{ zp_film_collection_id }}/films" class="w3-bar-item w3-button w3-padding w3-light-blue">
        <i class="fa fa-text-width fa-fw"></i>  Film(s)</a>
    <a href="/film_collection/{{ zp_film_collection_id }}/title" class="w3-bar-item w3-button w3-padding w3-sand">
        <i class="fa fa-text-width fa-fw"></i>  Title</a>
    <a href="/film_collection/{{ zp_film_collection_id }}/overview" class="w3-bar-item w3-button w3-padding w3-sand">
        <i class="fa fa-file-text-o fa-fw"></i>  Overview</a>
    <a href="/film_collection/{{ zp_film_collection_id }}/poster" class="w3-bar-item w3-button w3-padding w3-sand">
        <i class="fa fa-file-image-o fa-fw"></i>  Poster</a>
    <a href="/film_collection/{{ zp_film_collection_id }}/backdrop" class="w3-bar-item w3-button w3-padding w3-sand">
        <i class="fa fa-image fa-fw"></i>  Backdrop</a>