{% include "root_header_begin.html" %}
{% include "film_collection/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "film_collection/sidebar_start.html" %}
{% include "film_collection/sidebar_selected.html" %}
{% include "film_collection/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b>{{ film_collection_title }} - Summary</b></h5>
    </header>
    <div class="w3-container">
        <div class="w3-full">
            <p><a href="/film_collection/{{ zp_film_collection_id }}/title">
                <b>Title:</b></a> {{ film_collection_title }}</p>
            <p><a href="/film_collection/{{ zp_film_collection_id }}/overview">
                <b>Overview:</b></a> {{ film_collection_overview }}</p>
        </div>
    </div>
    <div class="w3-container">
        <a href="/film_collection/{{ zp_film_collection_id }}/poster"><p>
            <b>Raw Poster Image</b></p>
            <div class="w3-quarter">
                <div class="w3-container w3-padding-16">
                    <img src="/i/raw/film_collection/{{ film_collection_poster_raw_image_id }}">
                </div>
            </div>
        </a>
    </div>
    <div class="w3-container">
        <a href="/film_collection/{{ zp_film_collection_id }}/backdrop">
            <p><b>Raw Backdrop Image</b></p>
            <div class="w3-threequarter">
                <div class="w3-container w3-padding-16">
                    <img src="/i/raw/film_collection/{{ film_collection_backdrop_raw_image_id }}">
                </div>
            </div>
        </a>
    </div>
    {% for zp_image_type_id in render_templates_display_dict|sort %}
        {% for zp_icon_sub_type_id in render_templates_display_dict[zp_image_type_id]['icon_sub_type_list']|sort %}
            <div class="w3-container">
                <a href="/i/rendered/film_collection/{{ render_templates_display_dict[zp_image_type_id]['icon_sub_type_list'][zp_icon_sub_type_id]['render_hash_id'] }}">
                <p>Rendered {{ render_templates_display_dict[zp_image_type_id]['name'] }} Image - Sub Type ID {{ zp_icon_sub_type_id }}</p>
                    <div class="w3-twothird">
                        <div class="w3-container w3-padding-16">
                            <img src="/i/rendered/film_collection/{{ render_templates_display_dict[zp_image_type_id]['icon_sub_type_list'][zp_icon_sub_type_id]['render_hash_id'] }}">
                        </div>
                    </div>
                </a>
                <br>
            </div>
            <div class="w3-container">
                <p><a href="/film_collection/{{ zp_film_collection_id }}/{{  render_templates_display_dict[zp_image_type_id]['name'] }}/{{ zp_icon_sub_type_id }}/render">Live Render</a></p>
            </div>
        {% endfor %}
    {% endfor %}
    <br>
{% include "root_footer.html" %}