{% include "root_header_begin.html" %}
{% include "film/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "film/sidebar_start.html" %}
{% include "film/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b>{{ title }}</b></h5>
  </header>
  <div class="w3-container">
          <div class="w3-full">
              {% if exists == false  %}
                The filefolder ID {{ id }} does not exist
              {% elif identified == true %}
                The filefolder ID {{ id }} has allready been identified

              {% else %}
                  <p>{{ error_message }}</p>
                  <p>PATH: {{ film_path }}</p>
                <form action="" method="post" enctype="multipart/form-data" id="form">
                    EAPI_EID <input type="text" value="" name="eapi_eid">
                    <p>EAPI'S</p>
                  {% for eapi_dict in eapi_list %}
                    <a href="#">{{ eapi_dict['name'] }}</a>
                  <input type="radio" value="{{ eapi_dict['id'] }}" id="{{ eapi_dict['name'] }}" name="eapi_id">
                      <br/><br/>
                  {% endfor %}
                    <br/>
                    <input type="submit" value="submit">
                </form>
              {% endif %}
          </div>
  </div>
  <br/>

{% include "root_footer.html" %}