{% include "root_header_begin.html" %}
{% include "film/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "film/sidebar_start.html" %}
{% include "film/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b>Unidentified</b></h5>
  </header>
  <div class="w3-container">
          <div class="w3-full">
              <select id="unidentified_select" size="25">
                  {% for film in unidentified %}
                      <option value="{{ film.id }}">{{ film.path }}</option>
                  {% endfor %}
              </select>
          </div>
  </div>
  <br/>

{% include "root_footer.html" %}