{% include "root_header_begin.html" %}
{% include "dunes/header_jquery.html" %}
{% include "root_header_end.html" %}
{% include "dunes/sidebar_start.html" %}
{% include "dunes/sidebar_main.html" %}
{% include "dunes/sidebar_end.html" %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b>Dune Assignable Shares</b></h5>
    </header>
    <div class="w3-container">
        <div class="w3-full">
            <form action="" method="post" id="scan_path_add_form" enctype="multipart/form-data">
            <table border="1">
                <tr>
                    {% for play_path_key in play_path_keys %}
                        <td>{{ play_path_title_dict[play_path_key] }}</td>
                    {% endfor %}
                </tr>
                    {% for zp_scan_path_id in play_path_dict %}
                    <tr>
                        {% for play_path_key in play_path_keys %}
                            <td>
                                {% if play_path_key in play_path_edit_dict %}
                                     {% if play_path_edit_dict[play_path_key] == 'text' %}
                                        <input id="{{ zp_scan_path_id }}_{{ play_path_key }}"
                                               name="{{ zp_scan_path_id }}_{{ play_path_key }}"
                                               type="text" value="{{ play_path_dict[zp_scan_path_id][play_path_key] }}" size="30">
                                     {% endif %}
                                {% else %}
                                    {{ play_path_dict[zp_scan_path_id][play_path_key] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
            <br>
            <input type="hidden" name="type" value="edit">
            <input type="submit" value="Apply">
            </form>
        </div>
    </div><br>

{% include "root_footer.html" %}