
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-home fa-fw"></i>  Home</a>
    <a href="/film" class="w3-bar-item w3-button w3-padding w3-purple"><i class="fa fa-film fa-fw"></i>  Film</a>
    <a href="/film_collection" class="w3-bar-item w3-button w3-padding w3-purple"><i class="fa fa-film fa-fw"></i>  Film Collection</a>
    <a href="/tv" class="w3-bar-item w3-button w3-padding w3-green"><i class="fa fa-tv fa-fw"></i>  TV</a>
    <a href="/process" class="w3-bar-item w3-button w3-padding w3-green"><i class="fa fa-tv fa-fw"></i>  Process</a>
    <a href="/settings" class="w3-bar-item w3-button w3-padding w3-orange"><i class="fa fa-tv fa-fw"></i>  Settings</a>
      <a href="/template" class="w3-bar-item w3-button w3-padding w3-blue-grey"><i class="fa fa-tv fa-fw"></i>  Template</a>
    <a href="/report" class="w3-bar-item w3-button w3-padding w3-deep-orange"><i class="fa fa-tv fa-fw"></i>  Report</a>
    <a href="https://github.com/3lixy/Zerrphix" class="w3-bar-item w3-button w3-padding w3-teal"><i class="fa fa-tv fa-fw"></i>  Zerrphix</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>