<a href="/scan_path" class="w3-bar-item w3-button w3-padding w3-khaki"><i class="fa fa-tv fa-fw"></i>  Scan Paths</a>
<a href="/dunes" class="w3-bar-item w3-button w3-padding w3-khaki"><i class="fa fa-tv fa-fw"></i>  Dunes</a>

<a href="/settings/fileExtensions" class="w3-bar-item w3-button w3-padding w3-khaki">
        <i class="fa fa-list-alt fa-fw"></i>  File Extensions</a>
    <a href="/settings/user" class="w3-bar-item w3-button w3-padding w3-khaki"><i class="fa fa-users fa-fw"></i>  Users</a>
      <a href="/template" class="w3-bar-item w3-button w3-padding w3-blue-grey"><i class="fa fa-tv fa-fw"></i>  Template</a>
      <a href="/report" class="w3-bar-item w3-button w3-padding w3-deep-orange"><i class="fa fa-tv fa-fw"></i>  Report</a>
      <a href="https://github.com/3lixy/Zerrphix" class="w3-bar-item w3-button w3-padding w3-teal"><i class="fa fa-tv fa-fw"></i>  Zerrphix</a>